.cardsContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

a {
  text-decoration: none;
}

.card {
  padding: 20px 50px;
  border-radius: 15px;
  width: 200px;
  height: 400px;
  overflow: hidden;
  border: 3px solid #a7ff00;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* .card .imageContainer {
  margin: auto;
} */

.card img {
  height: 250px;
  margin: auto;
}

.cardDescription {
  color: #a7ff00;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}
